<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MakeMyTrip task " verbose="1" >

	<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="com.pramati.Utils.ExtentReporterNG" />
	  <listener class-name="com.pramati.Utils.EmailableReporter" />
  	</listeners>
  
  <test name=" MakeMyTrip assignment " >
    <classes>
      <class name="com.pramati.test.SearchFlightTest"/>
    </classes>
 </test>
</suite>